/* $Id$ */

#include "callbacks.h"

static PjsuaCallback* cb = NULL;

void setPjsuaCallback(PjsuaCallback* callback) {
  cb = callback;
}

$PJSUA_CALLBACK_PROXY$

static pjsua_callback my_cb_proxy = {
  $PJSUA_CALLBACK_DEF$
};

pjsua_callback* PJSUA_CALLBACK_PROXY = &my_cb_proxy;
