pjlib/include/pj/config_site.h
lib/
bin/
output/
tmp/

# VS stuff
*.ncb
*.suo
*.cache
*.resw
.vs/
.vscode/
**/build/**/*.vcproj.*.user
**/build/**/*.vcxproj.*.user
**/build/**/*.vcproj.user
**/build/**/*.vcxproj.user
**/Win32/Debug
**/x64/Debug
**/x86/Debug
UpgradeLog*.htm
# VS 2015 stuff
*.pdb
*.db
*.opendb
samples.log

# GNU stuff
config.log
config.status
build.mak
user.mak
cc-auto.mak
os-auto.mak
m_auto.h
os_auto.h
config_auto.h
sip_autoconf.h
*.depend

# Apple stuff
*.DS_Store
autom4te.cache
xcuserdata
pjsip-apps/src/pjsua/ios*/lib*.a
pjsip-apps/src/pjsua/ios/ipjsua.xcodeproj/project.xcworkspace/
pjsip-apps/src/pjsua/ios/ipjsua.xcworkspace/xcshareddata
pjsip-apps/src/pjsua/ios-swift/Libraries/
pjsip-apps/src/pjsua2/ios-swift-pjsua2/Libraries/

# SWIG Java/Android stuff
pjsip-apps/src/swig/java/android/app/src/main/java/org/pjsip/pjsua2/*.java
pjsip-apps/src/swig/java/android/app/src/main/java/org/pjsip/PjCamera*.java
pjsip-apps/src/swig/java/android/app/src/main/jniLibs/

# SWIG CSharp/Xamarin stuff
pjsip-apps/src/swig/csharp/pjsua2xamarin/

# SWIG Python stuff
pjsip-apps/src/swig/python/build/
pjsip-apps/src/swig/python/pjsua2.py
pjsip-apps/src/swig/python/pjsua2_wrap.*

# unit tests files
tests/pjsua/*.pyc
tests/pjsua/scripts-*/*.pyc
tests/pjsua/*.log
tests/pjsua/wavs/tmp*.wav
tests/pjsua/tools/cmp_wav
tests/pjsua/tools/cmp_wav.dSYM
tests/pjsua/logs
tests/fuzz/*
!tests/fuzz/**/
!tests/fuzz/*.*
tests/fuzz/*.o
# benchmark output
*bench*.htm

# Doxygen stuff
*/docs/html/
*/docs/xml/
*/docs/latex/
*/docs/*.tag

# Coverity scan stuff
cov-int/
getversion.mak
configure.out
