pjlib/include/pj/config_site.h
lib/
bin/
output/

# VS stuff
*.ncb
*.suo
.vs/
**/build/**/*.vcproj.*.user
**/build/**/*.vcxproj.*.user
UpgradeLog.htm
# VS 2015 stuff
*.pdb
*.db
*.opendb
samples.log

# GNU stuff
config.log
config.status
build.mak
user.mak
cc-auto.mak
os-auto.mak
m_auto.h
os_auto.h
config_auto.h
sip_autoconf.h
*.depend

# SWIG Java/Android stuff
pjsip-apps/src/swig/java/android/app/src/main/java/org/pjsip/pjsua2/*.java
pjsip-apps/src/swig/java/android/app/src/main/java/org/pjsip/PjCamera*.java
pjsip-apps/src/swig/java/android/app/src/main/jniLibs/

# SWIG CSharp/Xamarin stuff
pjsip-apps/src/swig/csharp/pjsua2xamarin/

# SWIG Python stuff
pjsip-apps/src/swig/python/build/
pjsip-apps/src/swig/python/pjsua2.py
pjsip-apps/src/swig/python/pjsua2_wrap.*

# unit tests files
tests/pjsua/*.pyc
tests/pjsua/scripts-*/*.pyc
tests/pjsua/*.log
tests/pjsua/wavs/tmp*.wav
tests/pjsua/tools/cmp_wav
tests/pjsua/tools/cmp_wav.dSYM
tests/pjsua/logs
