<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="org.pjsip.pjsua2.app"
        android:handleProfiling="false"
        android:functionalTest="false" />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>